---
import SiteLayout from "~/layouts/siteLayout.astro";
---

<SiteLayout>
  <div id="map" class="map"></div>

  <script>
    var map = L.map("map", {
      center: [9.1027684, 21.7303787],
      zoom: 4,
      minZoom: 4,
      mapTypeId: "terrain",
      gestureHandling: false,
      searchControl: false,
      locateControl: false,
      pegmanControl: false,
      fullscreenControl: false,
      minimapControl: false,
      preferCanvas: true,
      maxBounds: [
        [37.35, -17.89],
        [-35.97, 51.2],
      ],
      maxBoundsViscodity: 1.0,
      plugins: [
        "@raruto/leaflet-elevation@1.3.x/dist/leaflet-elevation.css",
        "@raruto/leaflet-elevation@1.3.x/dist/leaflet-elevation.js",
      ],
    });
  </script>
</SiteLayout>
