<html lang="en-GB">
  <head>
    <title>Leaflet Samples</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Leaflet (JS/CSS) -->
    <script is:inline src="/assets/js/leaflet-src.js"></script>
    <script is:inline src="/assets/js/leaflet-ui-src.js"></script>

    <!-- KMZ Plugin -->
    <script is:inline src="/assets/js/leaflet-kmz-src.js"></script>

    <link rel="stylesheet" href="/assets/css/styles.css?v=1.0.0" />
  </head>

  <body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="100">
    <slot />
  </body>
</html>
